.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
_book
_bookdown_files
bookclub-bayes_rules.Rmd
bookclub-bayes_rules.html
bookclub-bayes_rules.knit.md
bookclub-bayes_rules_files
bookclub-bayes_rules_cache
libs
data/ch_11
